Repository diogotcorreia/ist-delegate-election, pull requests merged in 2023-10, with the labels that each got.

#100 refactor(backend): add a third state to nomination validation
  backend/entity/src/nomination.rs
  backend/migration/src/lib.rs
  backend/migration/src/m20231001_091623_nomination_valid_null.rs
  backend/src/routes/elections.rs
Labels: module:backend, type:refactor

#101 feat(backend): add unverified nomination count endpoint
  backend/src/main.rs
  backend/src/routes/elections.rs
Labels: module:backend, type:feature

#102 feat(backend): add list unverified nominations endpoint
  backend/src/dtos.rs
  backend/src/main.rs
  backend/src/routes/elections.rs
Labels: module:backend, type:feature

#104 refactor(backend): correctly sort unvalidated nominations
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/dtos.rs
  backend/src/routes/elections.rs
Labels: module:backend, type:refactor

#106 feat(backend): add edit nomination endpoint
  backend/src/dtos.rs
  backend/src/errors.rs
  backend/src/main.rs
  backend/src/routes/elections.rs
Labels: module:backend, type:feature

#107 chore: cache rust builds on ci
  .github/workflows/ci-build-test.yml
Labels: type:chore

#103 feat(frontend): add interface to validate nominations
  frontend/src/@types/api.ts
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/admin/DegreeTypeElections.tsx
  frontend/src/components/election/ElectionCard.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/admin/bulk-validate-nominations.tsx
  frontend/src/routes/admin/elections.tsx
Labels: module:frontend, type:feature

#108 refactor(backend): use bennu's person find endpoint instead
  backend/src/routes/search_user.rs
  backend/src/services/fenix.rs
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
Labels: module:frontend, module:backend, type:refactor

#109 refactor(frontend): move logged in detection logic to loader
  frontend/src/routes/admin/admins.tsx
  frontend/src/routes/root.tsx
Labels: module:frontend, type:refactor

#110 refactor(frontend): add link to admin area button on navbar
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/root.tsx
Labels: module:frontend, type:refactor

#111 feat(frontend): add global loading indicator
  frontend/src/routes/root.tsx
Labels: module:frontend, type:feature

#114 feat(frontend): add error page
  frontend/src/App.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/error.tsx
Labels: module:frontend, type:feature

#116 fix(frontend): add missing error translations
  frontend/src/api.ts
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/elections.tsx
  frontend/src/routes/error.tsx
Labels: module:frontend, type:bug

#117 chore: bump version to v1.0.0
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/package-lock.json
  frontend/package.json
Labels: module:frontend, module:backend, type:chore

#118 chore(nix): fix incorrect npm deps hash on frontend pkg
  nix/pkg-frontend.nix
Labels: type:chore

#122 fix(backend): users being assigned to completed degrees
  backend/src/routes/login.rs
  backend/src/services/fenix.rs
Labels: module:backend, type:bug

#123 fix(frontend): sort degree types by name in current locale
  frontend/src/hooks/useSortAndGroupDegrees.ts
Labels: module:frontend, type:bug

#124 feat(backend): validate nominations of users on login
  backend/src/election_utils.rs
  backend/src/routes/elections.rs
  backend/src/routes/login.rs
Labels: module:backend, type:feature

#125 fix(backend): user seeing elections of other academic years
  backend/src/routes/elections.rs
Labels: module:backend, type:bug

#126 fix(frontend): prevent creating elections that already exist
  frontend/src/components/admin/forms/YearSelectionInput.tsx
  frontend/src/routes/admin/elections.tsx
Labels: module:frontend, type:bug

#127 feat(frontend): add success page to bulk create elections
  frontend/src/App.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/admin/elections.tsx
Labels: module:frontend, type:refactor

#128 feat(frontend): add language switcher
  frontend/src/components/Navbar.tsx
  frontend/src/routes/root.tsx
Labels: module:frontend, type:feature

#129 feat: add logout
  backend/src/main.rs
  backend/src/routes/login.rs
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/Navbar.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/logout.tsx
Labels: module:frontend, module:backend, type:feature

#136 feat(backend): show candidacy and voting periods on admin election card
  frontend/src/components/admin/DegreeTypeElections.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
Labels: module:frontend, type:feature

#138 chore: bump flake inputs to latest upstream
  flake.lock
  frontend/src/@types/api.ts
Labels: module:frontend, type:chore

#139 chore: fix CI not running on PRs from forks
  .github/workflows/ci-build-test.yml
  .github/workflows/ci-formatting.yml
Labels: type:chore

#135 chore: make GitHub PR labeler more tolerant
  .github/labeler.yml
Labels: type:chore

#133 fix: correct spelling in `ElectionWithUnverifiedNomination`
  backend/src/dtos.rs
  backend/src/errors.rs
  backend/src/routes/elections.rs
  frontend/src/@types/api.ts
  frontend/src/api.ts
  frontend/src/components/election/ElectionCard.tsx
  frontend/src/routes/admin/bulk-validate-nominations.tsx
Labels: module:frontend, module:backend, type:bug

#140 feat(backend): add election details admin endpoint
  backend/src/dtos.rs
  backend/src/main.rs
  backend/src/routes/elections.rs
  frontend/src/@types/api.ts
Labels: module:frontend, module:backend, type:feature

#141 chore: fix duplicate CI running if PR is not from fork
  .github/workflows/ci-build-test.yml
  .github/workflows/ci-formatting.yml
Labels: type:chore

#142 feat(backend): add election add nomination admin endpoint
  backend/src/election_utils.rs
  backend/src/main.rs
  backend/src/routes/elections.rs
Labels: module:backend, type:feature

#134 chore: prompt installation of `typeshare-cli` if it cannot be found
  backend/generate-typeshare.sh
Labels: module:backend, type:chore

#132 feat: properly use Forbidden and Unauthorized errors
  backend/src/auth_utils.rs
  backend/src/errors.rs
  backend/src/routes/admin.rs
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
Labels: module:frontend, module:backend, type:feature

#143 feat(frontend): add election details page on admin area
  backend/src/routes/elections.rs
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/admin/DegreeTypeElections.tsx
  frontend/src/components/election/NominationCard.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/admin/bulk-validate-nominations.tsx
  frontend/src/routes/admin/election.tsx
Labels: module:frontend, module:backend, type:feature

#146 feat(backend): apply overridden degrees to user on login
  backend/src/routes/login.rs
Labels: module:backend, type:feature

#148 refactor(backend): add academic year to user degree override
  backend/entity/src/user_degree_override.rs
  backend/migration/src/m20231008_162240_user_degree_override.rs
Labels: module:backend, type:refactor

#147 feat(backend): add user degree override add, get and delete endpoints
  backend/src/dtos.rs
  backend/src/main.rs
  backend/src/routes/login.rs
  backend/src/routes/mod.rs
  backend/src/routes/user_degree_overrides.rs
  frontend/src/@types/api.ts
Labels: module:frontend, module:backend, type:feature

#149 feat(frontend): add user degree override frontend pages
  backend/src/main.rs
  backend/src/routes/degrees.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api.ts
  frontend/src/components/forms/CsvFileInput.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/admin/elections.tsx
  frontend/src/routes/admin/root.tsx
  frontend/src/routes/admin/user-degree-override/bulk-add.tsx
  frontend/src/routes/admin/user-degree-override/root.tsx
Labels: module:frontend, module:backend, type:feature

#151 fix(backend): incorrect date_time type on mysql
  backend/migration/src/m20220101_000001_create_table.rs
Labels: module:backend, type:bug

#150 fix(frontend): add missing translation to see more button on card
  frontend/src/components/admin/DegreeTypeElections.tsx
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
Labels: module:frontend, type:bug

#152 fix(frontend): add missing key prop to components
  frontend/src/routes/admin/bulk-validate-nominations.tsx
  frontend/src/routes/election/vote.tsx
Labels: module:frontend, type:bug

#154 fix(frontend): remove transition from success dialog on bulk election add
  frontend/src/routes/admin/elections.tsx
Labels: module:frontend, type:bug

#153 fix(frontend): accordion title overflowing if chips take too much space
  frontend/src/components/admin/DegreeTypeElections.tsx
  frontend/src/components/admin/forms/DegreeSelectionInput.tsx
Labels: module:frontend, type:bug

#155 chore: bump version to v1.1.0
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/package-lock.json
  frontend/package.json
  nix/pkg-backend.nix
  nix/pkg-frontend.nix
Labels: module:frontend, module:backend, type:chore

#159 feat(frontend): update manifest, favicon and logos
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
Labels: module:frontend, type:feature

#160 chore: fix nix module error when coercing port to string
  nix/module.nix
Labels: type:chore

#161 chore: bump version to v1.1.1
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/package-lock.json
  frontend/package.json
  nix/pkg-backend.nix
  nix/pkg-frontend.nix
Labels: module:frontend, module:backend, type:chore

#162 feat: allow votes but not candidacy from mobility students
  backend/src/auth_utils.rs
  backend/src/dtos.rs
  backend/src/election_utils.rs
  backend/src/routes/elections.rs
  backend/src/routes/login.rs
  backend/src/services/fenix.rs
  frontend/src/@types/api.ts
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/election/nominate.tsx
Labels: module:frontend, module:backend, type:feature

#163 feat: download election results as csv
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/election_utils.rs
  backend/src/errors.rs
  backend/src/main.rs
  backend/src/routes/elections.rs
  frontend/src/api.ts
  frontend/src/locales/en-GB/translation.json
  frontend/src/locales/pt-PT/translation.json
  frontend/src/routes/admin/elections.tsx
Labels: module:frontend, module:backend, type:feature

#164 chore: bump version to v1.2.0
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/package-lock.json
  frontend/package.json
  nix/pkg-backend.nix
  nix/pkg-frontend.nix
Labels: module:frontend, module:backend, type:chore
